*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Oxanium", serif;
    font-optical-sizing: auto;
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(to bottom, #FAD0C4, #F8BBD0); 
    background: linear-gradient(to bottom, #FFC3A0, #FFB6C1);
    background: linear-gradient(to bottom, #00BFAE, #A3D7B1); */
    background-color: #F4F9F4;
    color: #333333; 
}
h1{
    padding-top: 1vw;
    text-align: center;
    font-size: 4.5vw;
    /* color: #FF6F61;
    color: #D26E6E;
    color:  #9B59B6; */
    color: #F9A825;
    font-family: "Rubik Vinyl", serif;
}
.greeting{
    margin-left:5vw;
    padding: 2vw;
    background-color: #FFEBEE;
    height: 14vw;
    width: 60vw;
    margin-top: 3vw;
    font-weight: 900;
    border-radius: 5rem;
    font-family: "Dancing Script", serif;
}
.greeting>h2{
    font-family: "Oxanium", serif;
    font-size: 2vw;
    color: #F9A825;
}
.greeting>p{
    font-size: 2vw;
    color: #4E342E;
}
.root{
    height: 20vw;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.root1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
    border-radius: 1rem;
    padding: 2.5vw;
    /* background-color: #FFABAB;
    background-color: #FF8A80;
    background-color: #FFBC42; */
    background: linear-gradient(to right, #FF5F6D, #FFC371);
    margin-left: 2rem;
    height: 12vw;
    width: 12vw;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
}

.root1>p{
    font-size: 1.5vw;
    color: #fff;
}



@media(max-width:768px){
    

}

@media(max-width:640px){
    

}

@media (max-width:600px){
    
}

@media(max-width:360px) and (min-width:352px){
    h1{
        font-size: 8.5vw;
    }
    .root{
        margin-top: 10vw;
    }
    .root1{
        font-size: 7vw;
        margin-left: 0.5rem;
        height: 25vw;
        width: 20vw;
    }
    
    .root1>p{
        font-size: 3vw;
    }

    .greeting{
        margin-left:5vw;
        padding: 3vw;
        height: 30vw;
        width: 90vw;
        margin-top: 5vw;
        font-weight: 900;
        border-radius: 1rem;
    }
    .greeting>h2{
        font-size: 3vw;
        color: #F9A825;
    }
    .greeting>p{
        font-size: 4vw;
        color: #4E342E;
    }
}

@media(max-width:320px){
    
}

@media (max-width:315px){
    
}

