*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Oxanium", serif;
    font-optical-sizing: auto;
    background-color:  #EDE7F6;;
    color:  #4A148C;
}
h1{
    padding-top: 1vw;
    text-align: center;
    font-size: 4.5vw;
    color: #FF4081;
    font-family: "Rubik Vinyl", serif;
}
.greeting{
    margin-left:5vw;
    padding: 2vw;
    background-color: #FFEBEE;
    height: 23vw;
    width: 70vw;
    margin-top: 3vw;
    font-weight: 900;
    border-radius: 3rem;
    font-family: "Dancing Script", serif;
}
.greeting>h2{
    font-family: "Oxanium", serif;
    font-size: 2vw;
    color:  #FF4081;
}
.greeting>p{
    font-size: 1.5vw;
    color: #4A148C;
}
#time_left{
    margin-left: 15vw;
    font-size: 3vw;
    margin-top: 3vw;
    color: #00BCD4; 
    animation-name: time;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration:3s;
}
@keyframes time {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.root{
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
    border-radius: 1rem;
    padding: 2.5vw;
    background: linear-gradient(to right, #FF4081, #FFEB3B);
    color: #FFFFFF;
    margin-left: 2rem;
    height: 12vw;
    width: 12vw;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
#day,#hour,#minute,#second{
    animation-name: breath;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes breath{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.root1:hover {
    transform: scale(1.1);
}

.root1>p{
    font-size: 1.5vw;
    color: #fff;
}

.footer{
    margin-top: 1rem;
    background-color: #303F9F;
    text-align: center;
    padding: 1rem 0;
}
.footer>p>a{
    text-decoration: none;
    font-weight: 900;
    margin-left: 2rem;
    color: #FFEB3B;
    transition: color 0.3s ease;
}
.footer > p > a:hover {
    color: #FF4081;
}
.footer>p{
    color: #FFFFFF;
}


@media(max-width:768px){
    h1{
        font-size: 8.5vw;
    }
    #time_left{
        text-decoration-thickness: 1px;
        margin-left: 5vw;
        font-size: 8vw;
        margin-top: 5vw;
        animation-name: time;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration:3s;
    }

    .root{
        margin-top: 10vw;
    }
    .root1{
        font-size: 7vw;
        margin-left: 0.5rem;
        height: 25vw;
        width: 20vw;
    }
    
    .root1>p{
        font-size: 3vw;
    }

    .greeting{
        margin-left:5vw;
        padding: 3vw;
        height: 76vw;
        width: 90vw;
        margin-top: 5vw;
        font-weight: 900;
        border-radius: 1rem;
    }
    .greeting>h2{
        font-size: 3.5vw;
    }
    .greeting>p{
        font-size: 3.5vw;
    }


    .footer{
        margin-top: 4rem;
    }
    .footer>p>a{
        font-size: 1rem;
        margin-left:5vw;
        
    }
    .footer>p{
        font-size: 1rem;
    }

}

@media (max-width:600px){
    h1{
        font-size: 8.5vw;
    }
    #time_left{
        text-decoration-thickness: 1px;
        margin-left: 5vw;
        font-size: 8vw;
        margin-top: 5vw;
        animation-name: time;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration:3s;
    }

    .root{
        margin-top: 10vw;
    }
    .root1{
        font-size: 7vw;
        margin-left: 0.5rem;
        height: 25vw;
        width: 20vw;
    }
    
    .root1>p{
        font-size: 3vw;
    }

    .greeting{
        margin-left:5vw;
        padding: 3vw;
        height: 76vw;
        width: 90vw;
        margin-top: 5vw;
        font-weight: 900;
        border-radius: 1rem;
    }
    .greeting>h2{
        font-size: 3.5vw;
    }
    .greeting>p{
        font-size: 3.5vw;
    }


    .footer{
        margin-top: 4rem;
    }
    .footer>p>a{
        font-size: 1rem;
        margin-left:15vw;
        
    }
    .footer>p{
        font-size: 1rem;
    }
}

@media(max-width:360px) and (min-width:352px){
    h1{
        font-size: 8.5vw;
    }
    #time_left{
        text-decoration-thickness: 1px;
        margin-left: 5vw;
        font-size: 8vw;
        margin-top: 5vw;
        animation-name: time;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration:3s;
    }

    .root{
        margin-top: 10vw;
    }
    .root1{
        font-size: 7vw;
        margin-left: 0.5rem;
        height: 25vw;
        width: 20vw;
    }
    
    .root1>p{
        font-size: 3vw;
    }

    .greeting{
        margin-left:5vw;
        padding: 3vw;
        height: 75vw;
        width: 90vw;
        margin-top: 5vw;
        font-weight: 900;
        border-radius: 1rem;
    }
    .greeting>h2{
        font-size: 3.5vw;
    }
    .greeting>p{
        font-size: 3.5vw;
    }


    .footer{
        margin-top: 4rem;
    }
    .footer>p>a{
        font-size: 1rem;
        margin-left: 2rem;
        
    }
    .footer>p{
        font-size: 1rem;
    }
}

@media(max-width:320px){
    h1{
        font-size: 8.5vw;
    }
    #time_left{
        text-decoration-thickness: 1px;
        margin-left: 5vw;
        font-size: 8vw;
        margin-top: 5vw;
        animation-name: time;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration:3s;
    }

    .root{
        margin-top: 10vw;
    }
    .root1{
        font-size: 7vw;
        margin-left: 0.5rem;
        height: 25vw;
        width: 20vw;
    }
    
    .root1>p{
        font-size: 3vw;
    }

    .greeting{
        margin-left:5vw;
        padding: 3vw;
        height: 76vw;
        width: 90vw;
        margin-top: 5vw;
        font-weight: 900;
        border-radius: 1rem;
    }
    .greeting>h2{
        font-size: 3.5vw;
    }
    .greeting>p{
        font-size: 3.5vw;
    }


    .footer{
        margin-top: 4rem;
    }
    .footer>p>a{
        font-size: 1rem;
        margin-left: 2rem;
        
    }
    .footer>p{
        font-size: 1rem;
    }
}

